:root {
  --primary-color: #385399;
  --secondary-color: #fafafa;
  --text-color: #2c2c2c;
  --border-color: #9f9f9f;
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --font-main: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0;
}

.pagination button {
  border: 1px solid #ccc;
  background-color: var(--text-color);
  color: var(--secondary-color);
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--primary-color);
}

.pagination button:disabled {
  background-color: #ccc;
  color: var(--text-color);
  cursor: not-allowed;
  border-color: #999;
}

.pagination button.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
  border-color: var(--primary-color);
}

.pagination button:first-of-type,
.pagination button:last-of-type {
  padding: 8px 16px;
}

.pagination button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination button:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}