:root {
  --primary-color: #0056b3;
  --secondary-color: #fafafa;
  --text-color: #2c2c2c;
  --border-color: #9f9f9f;
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  --font-main: "Lato", sans-serif;
  --highlight-color: #c9e1e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

.patient-directory {
  padding: 20px;
  text-align: center;
  /* background-color: white; */
}

.directory-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.hero-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.welcome-msg {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 1rem;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: var(--primary-color);
  color: white;
}

.tab:hover {
  background-color: var(--primary-color);
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  width: 300px;
  margin-right: 20px;
  border: 2px solid var(--border-color);
  border-radius: 7px;
  background-color: white;
  color: var(--text-color);
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.search-button:hover {
  background-color: #004494;
}

.appointment-section h2,
.test-section h2 {
  margin: 25px auto 20px;
}

.doctor-list,
.appointment-list,
.test-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.doctor-card,
.appointment-card,
.test-card {
  border: none;
  border-radius: 10px;
  margin: 10px;
  text-align: left;
  background-color: #f9f9f9;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  max-width: 300px;
  width: 100%;
  font-size: 0.9rem;
  position: relative;
  padding: 16px;
  min-height: 200px;
}

.doctor-card h3,
.appointment-card h3,
.test-card h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}

.visit-type {
  background-color: #c8d3ed;
  color: #283c6c;
  border-radius: 5px;
  padding: 6px 12px;
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 0.85rem;
  font-weight: bold;
}

.appointment-card-address,
.test-card-address,
.appointment-card-date-time,
.test-card-date-time,
.test-card-name {
  margin-top: 1.2rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appointment-card-items,
.test-card-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.appointment-card-date-time,
.test-card-date-time {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  font-weight: 600;
}

.appointment-card-date-time p,
.test-card-date-time p {
  margin: 0;
  font-size: 0.85rem;
}

.appointment-card button,
.test-card button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 18px;
  margin-top: 10px;
  padding: 8px 16px;
}

.appointment-card button:hover,
.test-card button:hover {
  background-color: #004494;
}

.location-icon,
.icon {
  margin-right: 7px;
  color: var(--primary-color);
}

.error-message {
  color: red;
}

.appointment-card-p-container,
.test-card-p-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.appointment-card-p-container p,
.test-card-p-container p {
  margin-top: 5px;
}

.appointment-card-details-btn,
.test-card-details-btn {
  font-size: 18px;
  cursor: pointer;
  color: var(--text-color);
  margin-top: 1.3rem;
  text-align: center;
  border-top: 2px solid var(--border-color);
  padding-top: 0.5rem;
}

.appointment-card-details-btn button,
.test-card-details-btn button {
  border-radius: 5px;
}

/* doctor note */
.appointment-result {
  border: 1px solid var(--primary-color); 
  background-color: #fcfcfc;
  color: var(--text-color);
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appointment-result p {
  margin: 0;
}

.appointment-result .result-data, .test-card-name p {
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1.1rem;
}

.appointment-card-view-doctornote, .test-card-view-testresult {
  margin-top: 10px;
  text-align: center;
}

.appointment-card-view-doctornote button, .test-card-view-testresult button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment-card-view-doctornote button:hover, .test-card-view-testresult button:hover {
  background-color: #004494;
}


/* end doctor note */

.doctor-card-footer, .test-center-card-footer {
  padding: 16px 0 0;
  /* padding-top: 1.2rem; */

  text-align: center;
  border-top: 2px solid var(--border-color);
  margin-top: 0.7rem;
}

.doctor-card-footer button, .test-center-card-footer button {
  font-size: 1rem;
  padding: 10px 20px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.doctor-card-footer button:hover, .test-center-card-footer button:hover{
  background: #004494;
}

.doctor-card-footer button .arrow-right-icon 
, .test-center-card-footer button .arrow-right-icon {
  margin-left: 10px;
}

.doctor-card-body, .test-center-card-body {
  text-align: left;
  color: var(--text-color);
}

.doctor-card-body p, .test-center-card-body p {
  margin: 15px 0;
  font-size: 0.95rem;
}

/* test center */

.test-center-header {
  margin: 1rem auto;
  text-align: center;
}

.test-centers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 1rem;
}

.test-center-card {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 16px;
  max-width: 300px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.test-center-card-body {
  margin-bottom: 16px;
}

.test-center-card-footer {
  text-align: center;
}


