/* Patients Page */

.patient-directory {
  padding: 20px;
  text-align: center;
  background-color: white;
}

.directory-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #2c2c2c;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  width: 300px;
  margin-right: 20px;
  border: 2px solid #9f9f9f;
  border-radius: 7px;
  background-color: white;
  color: #2c2c2c;
}

.search-button, .doctor-card button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #385399;
  color: white;
  border: none;
  border-radius: 18px;
  margin: 10px;
}

.doctor-list, .appointment-list, .test-list  {
  display: flex;
  flex-wrap: wrap;
}

.doctor-card, .appointment-card,.test-card {
  border: 0 solid #9f9f9f;
  border-radius: 7px;
  margin: 10px;
  text-align: left;
  background-color: lightgray;
  color: #2c2c2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 300px;
  width: 100%;
}

.doctor-card h3 {
  border-radius: 7px 7px 0 0;
  background-color: #385399;
  color: white;
  margin: 0;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
}

.doctor-card-p-container {
  padding: 16px;
}

.location-icon, .icon {
  margin-right: 7px;
  color: #385399;
}

.doctor-card-open-container {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.doctor-card button {
  background-color: #385399;
  color: white;
  border: none;
  border-radius: 18px;
  margin: 10px;
}

.doctor-card button:hover {
  background-color: #0056b3;
  border: none;
}

.arrow-right-icon {
    margin-left: 7px;
}

/* .timeslots-container {
  margin-top: 10px;
}

.timeslots-container ul {
  list-style-type: none;
  padding: 0;
}

.timeslots-container li {
  background-color: #f0f0f0;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
} */

.appointment-card h3, .test-card h3 {
  border-radius: 7px 7px 0 0;
  /* background-color: #385399; */
  color: #0056b3;
  margin: 0;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
}

.visit-type {
  background-color: rgb(201, 225, 233);
  border-radius: 4px;
  padding: 6px 12px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #0056b3;
  font-size: 0.9rem;
}

.appointment-card-items, .test-card-items {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 16px;
}

.appointment-card-date-time, .test-card-date-time {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  color: #0056b3;
}

.appointment-card-address p, .appointment-card-date-time p,.test-card-address p, .test-card-date-time p  {
  margin: 10px auto;
}

.appointment-card-details-btn, .test-card-details-btn {
  padding-top: 10px;
}

.error-message {
  color: red;
}


/* end Patients Page */
