:root {
  --primary-color: #385399;
  --secondary-color: #fafafa;
  --text-color: #2c2c2c;
  --border-color: #9f9f9f;
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --font-main: "Ubuntu", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

.sidebar {
  background-color: #f5f5f5;
  width: 200px;
  padding: 15px;
  height: 100vh;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 3px solid var(--primary-color);
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: var(--primary-color);
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.sidebar-item i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sidebar-item span {
  font-size: 1rem;
  font-weight: bold;
}

.sidebar-item.active {
  background-color: var(--primary-color);
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-bottom: 20px;
}

.toggle-btn i {
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: transform 0.3s;
}

.sidebar.collapsed .toggle-btn i {
  transform: rotate(0deg);
}

.sidebar.collapsed .sidebar-item span {
  display: none;
}
